body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

main {
    background-color: white;
    max-width: 450px;
    margin: 10% auto 10% auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 8px 10px hsl(224, 43%, 75%);
}

.summary h1 {
    color: hsl(223, 47%, 23%);
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.summary p {
    color: hsl(224, 23%, 55%);
    text-align: center;
    margin: 0 15%;
}

.container {
    display: flex;
    flex-basis: auto;
    margin: 10% 10%;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
      
}

.container img {
        flex-basis: 1;
        margin: auto 5%;
}

.container div {
    flex: 2;
    
}

.container div h2 {
    color: hsl(223, 47%, 23%);
    font-weight: bold;
    margin: 25px 0 0 0;
    padding: 0;
}

.container div p {
    color: hsl(224, 23%, 55%);
    margin: 0 0 25px 0;
    padding: 0;
}

.change {
    flex: 1;
    margin: 35px 0;
    color: hsl(245, 75%, 52%);
    font-weight: bold;
    
    
}

.change:hover {
    color:  hsl(245, 75%, 65%);
    text-decoration: none;
}

.box1 {
    color: white;
    font-weight: bold;
    width: 90%;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color:  hsl(245, 75%, 52%);
    list-style: none;
    text-align: center;
    line-height: 45px;
    box-shadow: 1px 10px 8px hsl(225, 100%, 94%);
}

.box2 {
    color: white;
    font-weight: bold;
    width: 90%;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
    line-height: 45px;
}

.box1:hover {
    background-color: hsl(245, 75%, 65%);
}

.box1 a {
    color: white;
    text-decoration: none;
    display: block;
}

.box2 a {
    color:  hsl(224, 23%, 55%);
    text-decoration: none;    
}

.box2 a:hover {
    color: hsl(223, 47%, 23%)
}

@media(max-width: 500px) {

    body {
        font-size: 90%;
    }
    
    main {
        width: 90%;
    }

    

}